/*font-family:"museo", serif;
font-family: Tahoma,sans-serif; 
*/
.mixes-container {
  background: url("../../images/home-banner.png"); }

.mixes-recipes-video {
  background: url("../../images/video-banner.png"); }

.red-btn {
  background: #cc0014;
  color: #fff; }

/*# sourceMappingURL=main.css.map */
